<!-- Now this page allows the students to log their data into the CSV file and then access the site, once they have added their data. -->
<!-- The style code within this website was done by Eduards Purgalis. -->
<!DOCTYPE html>
<HTML>
    <HEAD>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <title>HBC media booking system: Register</title>
    </HEAD>
    <body>
        <div>
            <h1>
                HBC Media Equipment booking system: Register</h1>
        </div>
        <h2>Would you kindly register:</h2>
        <!-- The action code is to trigger the code in the app.py file so the user can actually affect the code and files. -->
        <form method = "post" action = "{{ url_for('Register') }}">
            <p style="color:rgb(0, 0, 0);">
                Account number | Account password</p>
                    <input type = "number" name = "student number" placeholder = "Enter student number:" minlength="8" maxlength="8" required>
                    <input type = "password" name = "password" placeholder = "Enter password:" required>
                <p style="color:rgb(0, 0, 0);">
                Student email (@hughbaird.ac.uk) </p>
                    <input type = "email" name = "email" placeholder = "Enter email:" required> <br>
                <button type = "submit">Submit</button>
        </form>
        <div>
            <span: style="display: inline; background-color:#333c54;">
                <h2: style="color:rgb(255, 255, 255);">
                    If you already have an account, head to the link below for login.</h2></span:><br>
                <a href="/">Log in</a>
        </div>
</body>
</HTML>
 