<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <title>HBC Media Equipment booking system: Staff Error</title>
    </head>
    <body>
        <style>
            h1 {text-align: center;}
            p {text-align: center;}
            div {text-align: center;}
            form {text-align: center;}
        </style>
        <div>
            <h1>
                The return has not gone through.</h1>
        </div>
        <body>
            <h2 style="color:rgb(0, 0, 0);">
                Booking failed:</h1>
                <p>Your return has not gone through, would you kindly inform IT about this since this means a part of the code has been altered incorrectly. <br>
                <a href="/Staff_return">Return</a></p>
        </body>
    </body>
</html>