<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <title>HBC Media Equipment booking system: Staff Error</title>
    </head>
    <body>
        <style>
            h1 {text-align: center;}
            p {text-align: center;}
            div {text-align: center;}
            form {text-align: center;}
        </style>
        <div>
            <h1>
                Your booking has not gone through.</h1>
        </div>
        <body>
            <h2 style="color:rgb(0, 0, 0);">
                Booking failed:</h1>
                <p>Your request may be asking for equipment that is out of stock or you may be picking dates that aren't possible. 
                    Make sure the equipment is in stock by opening the equipment table and choose a date which is not before today or is today. <br>
                <a href="/Staff_booking">Return</a></p>
        </body>
    </body>
</html>