<!-- This file allows staff to access the site and see the bookings CSV file which will allow the staff to make sure students have filled them out properly. -->
<!-- The style code within this website was done by Eduards Purgalis. -->
<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <title>HBC Media Equipment booking system: Staff homepage</title>
    </head>
    <body>
        <div>
            <h1 style="background-color:#333c54; color:rgb(255, 255, 255);">
                HBC Media Equipment Booking system: Staff    
            </h1>
            <nav style="background-color:#333c54; padding: 10px 15px; color: white;font-family:'Times New Roman', Times, serif;">
                <a href="/Staff_booking">Bookings</a>
                <a href="/Equipment_table">Equipment log</a>
                <a href="/Booking_table">Booking log</a>
                <a href="/Student_table">Student log</a>
                <a href="/Staff_return">Equipment returns</a>
                <a href="/Staff_images">Images</a>
            </nav>    
        </div>
        <body>
            <p style="color:rgb(0, 0, 0);">
                Here staff can make bookings, alongside that they will be able to view the bookings made. <br>
                In addition there will be a way to modify the storage files, once a design has been approved. </p>    
        </body>
    </body>
</html>
