<!-- This page is meant to show the user that they have got their booking stored and ready to go. -->
<!-- The style code within this website was done by Eduards Purgalis. -->
<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <title>HBC Media Equipment booking system: Staff Conformation</title>
    </head>
    <body>
        <style>
            h1 {text-align: center;}
            p {text-align: center;}
            div {text-align: center;}
            form {text-align: center;}
        </style>
        <div>
            <h1>
                Your booking has been registered.</h1>
        </div>
        <body>
            <h2 style="color:rgb(0, 0, 0);">
                Booking Confirmed:</h1>
                <p>Your have been noted down on the system for your request. 
                You can claim the requested equipment on the chosen date.<br>
                <a href="/Staff">Done</a></p>
        </body>
    </body>
</html>