<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Student Number</th>
      <th>Password</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>40105141</td>
      <td>TEST7</td>
      <td>40105142@hugbaird.ac.uk</td>
    </tr>
    <tr>
      <th>1</th>
      <td>40105143</td>
      <td>TET7</td>
      <td>40105142@hugbaird.ac.uk</td>
    </tr>
    <tr>
      <th>2</th>
      <td>40105144</td>
      <td>TEST8</td>
      <td>40105142@hugbaird.ac.uk</td>
    </tr>
    <tr>
      <th>3</th>
      <td>40105145</td>
      <td>TST7</td>
      <td>40105142@hugbaird.ac.uk</td>
    </tr>
    <tr>
      <th>4</th>
      <td>40105146</td>
      <td>TET5</td>
      <td>40105142@hugbaird.ac.uk</td>
    </tr>
    <tr>
      <th>5</th>
      <td>40105147</td>
      <td>TET4</td>
      <td>40105142@hugbaird.ac.uk</td>
    </tr>
    <tr>
      <th>6</th>
      <td>40105148</td>
      <td>TEST1</td>
      <td>40105142@hugbaird.ac.uk</td>
    </tr>
    <tr>
      <th>7</th>
      <td>40105149</td>
      <td>TEST2</td>
      <td>40105142@hugbaird.ac.uk</td>
    </tr>
    <tr>
      <th>8</th>
      <td>40105150</td>
      <td>TEST10</td>
      <td>40105142@hugbaird.ac.uk</td>
    </tr>
    <tr>
      <th>9</th>
      <td>40105142</td>
      <td>YES</td>
      <td>40105142@hugbaird.ac.uk</td>
    </tr>
    <tr>
      <th>10</th>
      <td>1</td>
      <td>TESST65</td>
      <td>ADMIN.1@GMAIL.COM</td>
    </tr>
    <tr>
      <th>11</th>
      <td>40105142</td>
      <td>Y</td>
      <td>40105142@hugbaird.ac.uk</td>
    </tr>
    <tr>
      <th>12</th>
      <td>12345678</td>
      <td>TTTTTTT</td>
      <td>40105142@hugbaird.ac.uk</td>
    </tr>
  </tbody>
</table>