<!-- This file allows students to access the site and make bookings on the csv file. -->
<!-- The code below alters the way the site looks so when the user goes onto the site it will look nicer for the user. -->
<!-- The style code within this website was done by Eduards Purgalis. -->
<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <title>HBC Media Equipment booking system: Homepage</title>
    </head>
    <body>
    <div>
        <h1>
            Welcome to the Hugh Baird College Media Equipment booking system: Homepage</h1>
        <nav>
            <a href="/Booking">Booking</a>
            <a href="/Contact_information">Contact information</a>
            <a href="/Equipment_table">Equipment log</a>
            <a href="/Images">Images</a>
        </nav>
    </div>
    <body>
        <p style="color:rgb(0, 0, 0);">
        Do you need college equipment for a project outside of alloted college hours? <br>
        Below are options to book said equipment! <br>
        Contact staff and or the staff portal for additional help or information regarding equipment bookings.</p>
    </body>
    <body>
        
    </body>
    <body>
        <span: style="display: inline; background-color:#c41919; font-size:12px; line-height: 0.95;">
            <p: style="color:rgb(255, 255, 255); text-align: center;">
                ⚠️ Please understand that borrowed equipment is to be returned on time,
                alongside in the condition it was prior to borrowing.
                If conditions are not met action may be taken against you if you are to use our booking service. ⚠️
            </p>
        </span>
    </body>
</html>