<!-- This file allows students to access the site and make bookings on the csv file. -->
<!-- The code below alters the way the site looks so when the user goes onto the site it will look nicer for the user. -->
<!-- The style code within this website was done by Eduards Purgalis. -->
<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <title>HBC Media Equipment booking system: Images</title>
    </head>
    <body>
    <div>
        <h1>
            Hugh Baird College Media Equipment booking system: Images</h1>
        <nav>
            <a href="/Staff">Homepage</a>
            <a href="/Staff_booking">Booking</a>
            <a href="/Equipment_table">Equipment log</a>
        </nav>
    </div>
    <body>
        <p style="color:rgb(0, 0, 0);">
            Here are some images of equipment you can book out for usem. <br>
            This has been done to let you see what some of the equipment look like.  
        </p>
    </body>
    <body>
        <!--this outputs all the image files to be seeable in the html-->
        <img src="{{ url_for('static', filename='Godox SL60W LED Video Lights.JPG')}}" alt="Godox SL60W LED Video Lights" style="width:500px;height:600px;">
        <p style="color:rgb(0, 0, 0);">
            This is the Godox SL60W LED Video Lights.
        </p>
        <img src="{{ url_for('static', filename='Manfrotto 190XPRO4 Tripods with Ball Head.JPG')}}" alt="Manfrotto 190XPRO4 Tripods with Ball Head" style="width:500px;height:600px;">
        <p style="color:rgb(0, 0, 0);">
            This is the Manfrotto 190XPRO4 Tripods with Ball Head.
        </p>
        <img src="{{ url_for('static', filename = 'Manfrotto Advanced Gear Backpack.JPG')}}" alt="Manfrotto Advanced Gear Backpack" style="width:500px;height:600px;">
        <p style="color:rgb(0, 0, 0);">
            This is the Manfrotto Advanced Gear Backpack.
        </p>
        <img src="{{ url_for('static', filename = 'RØDE Wireless GO II Microphone Systems.JPG')}}" alt="RØDE Wireless GO II Microphone Systems" style="width:500px;height:600px;">
        <p style="color:rgb(0, 0, 0);">
            This is the "RØDE Wireless GO II Microphone Systems.
        </p>
        <img src="{{ url_for('static', filename = 'SanDisk Extreme PRO 128GB SDXC UHS-I Cards.JPG')}}" alt="SanDisk Extreme PRO 128GB SDXC UHS-I Cards" style="width:500px;height:600px;">
        <p style="color:rgb(0, 0, 0);">
            This is the SanDisk Extreme PRO 128GB SDXC UHS-I Cards. 
        </p>
        <img src="{{ url_for('static', filename = 'Sony A7 IV Full-Frame Mirrorless Camera.JPG')}}" alt="Sony A7 IV Full-Frame Mirrorless Camera" style="width:500px;height:600px;">
        <p style="color:rgb(0, 0, 0);">
            This is the Sony A7 IV Full-Frame Mirrorless Camera.
        </p>
        <img src="{{ url_for('static', filename = 'Sony FE 16-35mm f4 ZA OSS Lens.JPG')}}" alt="Sony FE 16-35mm f4 ZA OSS Lens" style="width:500px;height:600px;">
        <p style="color:rgb(0, 0, 0);">
            This is the Sony FE 16-35mm f4 ZA OSS Lens.
        </p>
        <img src="{{ url_for('static', filename = 'Sony FE 24-105mm f4 G OSS Lens.JPG')}}" alt="Sony FE 24-105mm f4 G OSS Lens" style="width:500px;height:600px;">
        <p style="color:rgb(0, 0, 0);">
            This is the Sony FE 24-105mm f4 G OSS Lens. 
        </p>
        <img src="{{ url_for('static', filename = 'Sony FE 50mm f1.8 Lens.JPG')}}" alt="Sony FE 85mm f1.8 Lens" style="width:500px;height:600px;">
        <p style="color:rgb(0, 0, 0);">
            This is the Sony FE 85mm f1.8 Lens. 
        </p>
        <img src="{{ url_for('static', filename = 'Sony FE 85mm f1.8 Lens.JPG')}}" alt="Sony FE 85mm f1.8 Lens" style="width:500px;height:600px;">
        <p style="color:rgb(0, 0, 0);">
           This is the Sony FE 85mm f1.8 Lens.  
        </p>
        <img src="{{ url_for('static', filename = 'Sony FX30 Cinema Line Camera.JPG')}}" alt="Sony FX30 Cinema Line Camera" style="width:500px;height:600px;">
        <p style="color:rgb(0, 0, 0);">
           This is the Sony FX30 Cinema Line Camera.  
        </p>
    </body>
</html>