<!DOCTYPE html>
<html>
<head>
    <title>Rolsa Technologies:Consultation Schedules Log</title>
    <link rel="stylesheet" href="{ url_for('static', filename='styles.css') }">
</head>
<body>
    <div class="container">
        <h1>Rolsa Technologies:Consultation Schedules Log</h1>
        <div class="log-container">
            <table class="dataframe styled-table">
  <thead>
    <tr style="text-align: left;">
      <th>associated_ID</th>
      <th>user</th>
      <th>email</th>
      <th>type_of_consultation</th>
      <th>date_of_scheduling</th>
      <th>deadline</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>jimmytest</td>
      <td>jimmytest@gmail.com</td>
      <td>test1</td>
      <td>2025-04-14</td>
      <td>2025-04-30</td>
    </tr>
  </tbody>
</table>
        </div>
        <div class="nav-links">
            <a href="{ url_for('home_page') }">Back to Homepage</a>
        </div>
    </div>
</body>
</html>