<!DOCTYPE html>
<html>
<head>
    <title>Rolsa Technologies: Installation Schedules Log</title>
    <link rel="stylesheet" href="{ url_for('static', filename='styles.css') }">
</head>
<body>
    <div class="container">
        <h1>Installation Schedules Log</h1>
        <div class="log-container">
            <p>No installations scheduled.</p>
        </div>
        <div class="nav-links">
            <a href="{ url_for('home_page') }">Back to Homepage</a>
        </div>
    </div>
</body>
</html>